.cart {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 25px;
    background-color: rgba(255, 153, 0, 0.30);
    position: sticky;
    top: 0px;

}

.cart h4 {
    font-size: 25px;
}

.cart p {
    font-size: 17px;
    letter-spacing: 0.085px;
}

.cart h6 {
    font-size: 21px;
    letter-spacing: 0.032px;
}

.btn-clear-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 4px;
    background: #FF3030;
    border-radius: 4px;
    color: white;

}
.btn-review-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 4px;
    background: #F90;
    border-radius: 4px;
    color: white;

}

.btn-clear-delete-icon {
    width: 24px;
    height: 24px;
    color: white;
}
