.review-item {
    width: 571px;
    border-radius: 8px;
    border: 1px solid #95A0A7;
    margin-bottom: 25px;
    display: flex;
    padding: 8px 25px 8px 8px;
    align-items: center;

}

.review-item img {
    width: 91px;
    height: 91px;
    border-radius: 6px;
}

.review-details p {
    margin: 0 15px;
    color: #1C2B35;
}
.review-details {
    flex-grow: 1;
}

.product-title {
    color: #1C2B35;

    /* H6 */
    font-family: Lato;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.032px;
}

.review-details span{
    color: #F90;
}

.btn-delete{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: rgba(235, 87, 87, 0.30);
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-icon{
    color: #EB5757;
    font-size: 27px;

}